output_data/
__pycache__/
*.xlsx
*.pyc
.env
ASCC024_Gerado.xml
.venv/Lib/site-packages/_cffi_backend.cp314-win_amd64.pyd
.venv/Lib/site-packages/81d243bd2c585b0f4821__mypyc.cp314-win_amd64.pyd
.venv/Lib/site-packages/distutils-precedence.pth
.venv/Lib/site-packages/rarfile.py
.venv/Lib/site-packages/six.py
.venv/Lib/site-packages/typing_extensions.py
